<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
 <!-- <connectionStrings>
<add name="WebAppConString" connectionString="Data Source=DESKTOP-S5NP7A3\SQLEXPRESS;User Id=sa;Password=system;Initial Catalog=c432016sp02yendrathib;" providerName="System.Data.SqlCient"/>
  </connectionStrings>-->
<connectionStrings>
<add name="WebAppConString" connectionString="Data Source=dcm.uhcl.edu;User Id=yendrathib;Password=1414173;Initial Catalog=c432016sp02yendrathib;" providerName="System.Data.SqlCient"/>
  </connectionStrings>
</configuration>
